doctype html

html
	head
		title Bitboard Utility
		style
			include style.css

	body
		div(id='wrapper')
			div(id='bitboard') Bitboard: 0x0
			div(id='board')
				each cell in cells
					div(class='cell')
						each dir in cell 
							div(class=dir)
						div(class='bit')
		script(src='script.js')
